# Strings y Diccionarios

En este JNB se revisar√° el tema de Strings y Diccionarios.

In [2]:
numbers = {'one':1, 'two':2, 'three':3}

In [3]:
numbers['one']

1

In [4]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [5]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [7]:
d = {}
for planet in planets:
    d[planet] = planet[0]
d

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [8]:
'Saturn' in planet_to_initial

True

In [9]:
'Betelgeuse' in planet_to_initial

False

In [10]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [ ]:
for k in numbers:
    print(f"{k} = {numbers[k]}")

one=Pluto
two=2
three=3
eleven=11

In [13]:
'*'.join(['1', '2', '3'])

'1*2*3'

In [14]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [17]:
list(planet_to_initial.items())

[('Mercury', 'M'),
 ('Venus', 'V'),
 ('Earth', 'E'),
 ('Mars', 'M'),
 ('Jupiter', 'J'),
 ('Saturn', 'S'),
 ('Uranus', 'U'),
 ('Neptune', 'N')]

In [16]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"